:root{
    --primary-color:#F5F5DC;
}



* {
    margin: 0;
    padding: 0;
}

header h1 {
    margin: 0;
    padding: 0;
}

/*La única manera que he encontrado es ponerle pading 0 ya que al navegador (cual sea) le sale de sus huevos que el h1 tenga un padding*/

body {
    background-color: aqua;
}

header {
    width: 100%;
    height: 100vh;
}

#showcase {
    background-image: url(../img/montaña.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
}
#showcase::after{
    content: "hola";
    position: absolute;
    top:0px;
    left:0px;
    background-color:rgba(0, 0, 0, 0,6);
}

